<!DOCTYPE html>
<HTML>
    <title>404</title>
    <HEAD>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="img/weather.png">
    </HEAD>
    <body>
        <div class="main-content">
        {{>header}}
        {{errMessage}}
        </div>
        
        {{>footer}}
    </body>
</HTML>