<!DOCTYPE html>
<HTML>
    <title>Help</title>
    <HEAD>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="img/weather.png">
    </HEAD>
    <BODY>
        <div class="main-content">
        {{>header}}
        </div>

        {{>footer}}
    </BODY>
    
</HTML>